<% include ./partials/header %>

<h1>YelpCamp</h1>
<p>Welcome to YelpCamp</p>
<a href="/campgrounds">View all campgrounds</a>
<script type="text/javascript" src="assets/js/script.js" charset="utf-8"></script>

<% include ./partials/footer %>