<% include ./partials/header %>
<div class="container">
  <h1>This is the login page, such that it is.</h1>
  <form action="/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
  </form>
</div>
<% include ./partials/footer %>